@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto.woff') format('woff'),
         url('../fonts/roboto.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
	background-color:#8da798;
	/*background-color:#8996a6;*/
	/*background-color:#9e8c85;*/
	background-image:url("../img/slide-light11.png");
	background-repeat:no-repeat;
	background-position:50% 0;	
}

.clearfix::after{
	content:"";
	display:table;
	clear:both;
}

.container{
	/*border:1px solid black;*/
	width:900px;
	margin:0 auto;
}

.main-navigation{
	height:75px;
	background-image:url("../img/gllacy-logo.png");
	background-repeat:no-repeat;
	background-position:14px 7px;
}

.main-navigation ul{
	padding:0;
	float:left;
	margin-left:185px;
	margin-top:15px;
}

.main-navigation > ul > li::before{
	content:"";
	display:inline-block;
	width:12px;
}

.main-navigation > ul > li::after{
	content:"";
	display:inline-block;
	width:12px;
	/*box-shadow:-5px 165px 35px 80px rgba(0,0,0,0.4);*/
}

.main-navigation li{
	padding-top:9px;
    padding-bottom:11px;
    border-radius:26px;	
	display:inline-block;
	position:relative;
	list-style:none;	
	color:white;
}

.main-navigation li:hover{
	background-color:#f7f6f3;
	color:#333333;	
}

.main-navigation a{
	color:inherit;
	font-family:"Roboto", "Arial", sans-serif;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px solid #f7f6f3;	
}

.main-navigation .menu-dropdown{
	display:none;
	margin-top:0;
	width:145px;
	min-height:170px;
	margin-left:0;
	position:absolute;
	z-index:5;	
	border-radius:7px;
	box-shadow:0px 40px 50px 5px rgba(0,0,0,0.4);
}

.main-navigation li:hover .menu-dropdown{
	display:block;
}

.main-navigation .menu-dropdown li{	
	width:115px;
	padding-top:0;
    padding-bottom:0;
	padding-left:10px;
	padding-right:20px;
	margin-right:0;
	margin-left:0;
    border-radius:0;
	background-color:#f8f7f4;
}

.main-navigation .menu-dropdown li:hover{
	background-color:#fbded7;
}

.main-navigation .menu-dropdown li:active{
	background-color:#f6b5a5;
}

.main-navigation .menu-dropdown .selected-li{
	background-color:#d07058;
}

.main-navigation .menu-dropdown .selected-a{
	color:white;
}

.main-navigation .menu-dropdown a{	
	display:block;
	width:125px;
	padding-top:12px;
	padding-bottom:12px;
    border-bottom:0;
	color:#343434;
	font-family:"Roboto", "Arial", sans-serif;
	font-size:14px;
	font-weight:500;
	text-decoration:none;
}

.main-navigation .menu-dropdown a::before{
    content:"";
    display:inline-block;
    width:12px;
}

.main-navigation .menu-dropdown li:first-child{
	margin-top:20px;
	border-radius:7px 7px 0 0;
}

.main-navigation .menu-dropdown li:last-child{
	border-radius:0 0 7px 7px;
}

.main-navigation .menu-dropdown li:first-child a{
	font-weight:600;
	border-bottom:1px solid #d1d0ce;
}

.main-navigation .user-block{
	float:right;
	margin-top:25px;
}

.main-navigation .user-block a{
	padding-top:10px;
	padding-bottom:10px;
	border:1px solid #a2b7ab;
	background-color:transparent;
	border-radius:24px;
	color:white;
}

.main-navigation .user-block a:nth-child(1){
	border: 1px solid white;
	padding-top:25px;
    padding-bottom:15px;
    padding-left:20px;
    padding-right:20px;
	font-size:0;
	background-image:url("../img/navigation-sprite.png");
	background-repeat:no-repeat;
	background-position:11px 9px;
}

.main-navigation .user-block a:nth-child(2){
	border: 1px solid white;
	padding-left:45px;
	padding-right:15px;
	background-image:url("../img/navigation-sprite.png");
	background-repeat:no-repeat;
	background-position:-40px 9px;
}

.main-navigation .user-block a:nth-child(3){
	border: 1px solid white;
	padding-left:35px;
	padding-right:45px;
	background-image:url("../img/navigation-sprite.png");
	background-repeat:no-repeat;
	background-position:-220px 9px;
}

header .info{
	float:right;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight:bold;
	color:white;
	width:170px;
	text-align:right;
	line-height:22px;
}

header .info span{
	font-size:14px;
}

header .info strong{
	font-size:22px;
}

main .slider{

	position:relative;
	min-height:585px;
	background-image:url("../img/slide1.png");
	background-repeat:no-repeat;
	background-position:127px 0;
	
}

.slider p{
	display:inline-block;
	margin-top:255px;
	margin-bottom: 140px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight:bold;
	color:white;
	font-size:60px;
	text-align:center;
}

.slider button{
	display:block;
	position:absolute;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:38px;
	padding-right:45px;
	background-color:#ec573b;
	border-radius:33px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight:bold;
	color:white;
	font-size:31px;
	left:50%;
	margin-top:-120px;
	margin-left:-140px;
	border:0;
}

.slider .slider-switch{
	position:relative;
	top:-100px;
}

.slider-switch label{
	display:inline-block;
	cursor:pointer;
	position:relative;
	padding-left:25px;
	margin-right:5px;
}

.slider-switch input[type=radio]{
	display:none;
}

.slider-switch label:before{
	border:3px solid white;
	content:"";
	display: inline-block;
	width: 20px;
	height: 20px;
	position:absolute;
	left: 0;
	top: -4px;
	border-radius:15px;
}

.slider-switch input[type=radio]:checked + label:before{
	border:3px solid white;
	background-color:white;
	content:"";
	display: inline-block;
	width: 20px;
	height: 20px;
	position:absolute;
	left: 0;
	top: -4px;
	border-radius:15px;
}

main .main-banner {
	margin-left:12px;
	margin-right:12px;
	position:relative;
	top: -25px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight:bold;
	color:white;
	text-align:justify;
}

.main-banner .ban-left{
	float:left;
	width:390px;
	min-height:229px;
	position:relative;
	border-radius:16px;
	background-color:#562028;
	background-image:url("../img/main-banner-left.png");
	background-repeat:no-repeat;
	padding-left:15px;
	padding-right:15px;
		
}

.main-banner .ban-right{
	float:right;
	width:390px;
	min-height:229px;
	position:relative;
	border-radius:16px;
	background-color:#48352a;
	background-image:url("../img/main-banner-right.png");
	background-repeat:no-repeat;
	padding-left:15px;
	padding-right:15px;
}

.main-banner h2{
	margin-top:20px;
	margin-left:20px;
	margin-right:10px;
	margin-bottom:20px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight:bold;
	color:white;
	font-size:35px;
	text-align:left;
}

.main-banner p{
	margin-left:20px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight:bold;
	color:white;
	font-size:18px;
	line-height:24px;
	text-align:left;
}

.main-banner button{
	float:right;
	padding-top:12px;
	padding-bottom:12px;
	padding-left:20px;
	padding-right:20px;
	background-color:#ec573b;
	border-radius:33px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight:bold;
	color:white;
	font-size:18px;
	margin-right:20px;
	margin-bottom:15px;
	border:0;
}

main .hit{
	font-size:0;
	margin-top:15px;
}

main .hit ul{
	padding:0;
}

main .hit li{
	display:inline-block;
	position:relative;
	width:200px;
	margin-right:30px;
	padding-top:210px;
	list-style:none;
	font-size:16px;
	line-height:22px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight:bold;
	color:white;
	text-decoration:underline;
	text-align:center;
	vertical-align:top;
}

main .hit span{
	position:absolute;
	top:145px;
	left: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight:bold;
	color:white;
	font-size:45px;
}

main .hit li:nth-child(1){
	background-image:url("../img/hit1.png");
	background-repeat:no-repeat;
}	

main .hit li:nth-child(2){
	background-image:url("../img/hit2.png");
	background-repeat:no-repeat;
}	

main .hit li:nth-child(3){
	background-image:url("../img/hit3.png");
	background-repeat:no-repeat;
}	

main .hit li:nth-child(4){
	background-image:url("../img/hit4.png");
	background-repeat:no-repeat;
}	
	
main .hit li:nth-child(4n){
	margin-right:0;
}

section{
	border:1px solid transparent;
	min-height:380px;
	border-radius:12px;
	margin-top:35px;
	background-image:url("../img/section-background.png");
	font-size:0;
}

section h1{
	margin-top:25px;
	margin-bottom:15px;
	margin-left:20px;
	margin-right:50px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight:medium;
	color:#323232;
	font-size:24px;
	line-height:30px;
}

section .index-content{
	position:relative;
	margin-left:22px;
	margin-bottom:15px;
	display:inline-block;
	vertical-align:top;
	width:340px;
	min-height:120px;
	padding-top:15px;
	padding-left:55px;
	padding-right:20px;
	padding-bottom:5px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight:bold;
	font-size:16px;
	line-height:22px;
	color:#323232;
}

section .index-content img{
	position:absolute;
    top:0;
    left:0;
}

.banner{
	margin-top:40px;
}

.banner .ban-left{
	border-radius:16px;
	float:left;
	width:420px;
	min-height:220px;
	background-color:white;
	background-image:url("../img/substrate-left.png");
	background-repeat:no-repeat;
	
}

.banner .ban-left p{
	margin-top:27px;
	margin-left:20px;
	margin-right:20px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size:16px;
	color:#353535;
}

.banner .ban-left h2{
	width:300px;
	margin-top:15px;
	margin-left:20px;
	margin-right:20px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size:24px;
	color:#353535;
	text-decoration:underline;
	background-color:white;
	opacity:0.7;
}

.banner .ban-right{
	border-radius:16px;
	float:right;
	width:420px;
	min-height:220px;
	background-color:white;
	background-image:url("../img/substrate-right.png");
	background-repeat:no-repeat;
}

.banner .ban-right-background{
	background-color:#f8f7f4;	
	border:1px solid transparent;
	border-radius:5px;
	margin:8px;
	width:403px;
	min-height:202px;
}

.banner .ban-right-background p{
	margin-left:20px;
	margin-top:30px;
	margin-right:25px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size:16px;
	line-height:22px;
	color:#353535;
}

.banner .ban-right-background input{
	margin-left:20px;
	padding:10px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size:16px;
	line-height:24px;
	color:#353535;
	border:1px solid #d3d3d2;
	border-radius:7px;
}

.banner .ban-right-background button{
	margin-left:10px;
	padding-top:12px;
	padding-bottom:12px;
	padding-left:20px;
	padding-right:20px;
	background-color:#ec573b;
	border-radius:33px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight:bold;
	color:white;
	font-size:17px;
	margin-right:20px;
	margin-bottom:15px;
	border:0;
}

.contacts{
	border:1px solid transparent;
	margin-top:40px;
	min-height:430px;
	background-image:url("../img/map.jpg");
	background-repeat:no-repeat;
}

.contacts .address{
	width:260px;
	min-height:270px;
	background-color:white;
	margin-left:578px;
	margin-top:65px;
	border-radius:13px;
	padding-top:30px;
	padding-left:24px;
	padding-right:20px;
}

.contacts .address p{
	margin-top:0;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight:bold;
	color:#343434;
	font-size:18px;
	line-height:24px;
}

.contacts .address span{
	font-family: "Roboto", "Arial", sans-serif;
	font-weight:normal;
	color:#343434;
	font-size:14px;
	line-height:20px;
}

.contacts .address strong{
	font-family: "Roboto", "Arial", sans-serif;
	color:#343434;
	font-weight:bold;
	font-size:17px;
	line-height:22px;
}

.contacts .address button{
	padding-top:12px;
	padding-bottom:12px;
	padding-left:30px;
	padding-right:30px;
	background-color:#ec573b;
	border-radius:33px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight:bold;
	color:white;
	font-size:17px;
	margin-top:28px;
	margin-bottom:28px;
	border:0;
}

footer{
	min-height:100px;	
	font-size:0;
}

footer .footer-unit{
	position:relative;
	padding-top:20px;
	display:inline-block;
	vertical-align:top;
	width:219px;
	min-height:100px;
}

footer .social-btn{
	display:inline-block;
	width:41px;
	height:41px;
	margin-left:10px;
	font-size:0;	
}

footer .social-btn-tw{
	background-image:url("../img/social.png");
	background-position:0 0;
	background-repeat:no-repeat;
}

footer .social-btn-inst{
	background-image:url("../img/social.png");
	background-position:-46px 0;
	background-repeat:no-repeat;
}

footer .social-btn-fb{
	background-image:url("../img/social.png");
	background-position:-92px 0;
	background-repeat:no-repeat;
}

footer .social-btn-vk{
	background-image:url("../img/social.png");
	background-position:-138px 0;
	background-repeat:no-repeat;
}

footer .footer-info-one a{
	border-bottom:1px solid white;
	display:inline-block;
	margin-left:50px;
	font-family:"Roboto", "Arial", sans-serif;
	font-size:13px;
	color:white;
	line-height:16px;
	text-decoration:none;
}

footer .footer-info-one span{
	position:absolute;
	left: 35px;
	font-size:13px;
	color:white;
	padding-right:6px;
}

footer .footer-info-two a{
	border-bottom:1px solid white;
	display:inline-block;
	margin-left:10px;
	font-family:"Roboto", "Arial", sans-serif;
	font-size:13px;
	color:white;
	line-height:16px;
	text-decoration:none;
}

footer .footer-copyright{
	display:inline-block;
    font-family:"Roboto", "Arial", sans-serif;
	font-size:13px;
	color:white;	
}

footer .footer-copyright a{
	border-bottom:1px solid white;
	text-decoration:none;
	color:white;
}

footer .footer-copyright img{
	display:block;
	margin-bottom:8px;
}















